:root {
  --green: #3ec70b;
  --lightGray: #e5e7eb;
  --gray: #6b7280;
  --darkGray: #d1d5db;
  --yellow: #fede53;
  --white: #ffffff;
}

/* .sidebar {
  height: 100vh;
  width: 100wh;
} */

.chatsWrapper {
  height: 100%;
  width: 419px;
  position: fixed;
  right: -100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  transition: all 0.5s;
}

.showSidebar {
  right: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: 998;
  display: none;
}

.titleWrapper {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid var(--lightGray);
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.closeButton {
  cursor: pointer;
}

.searchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--darkGray);
}

.searchInput {
  width: 100%;
  border: none;
  margin-left: 8px;
}

input:focus {
  outline: none;
}

.listWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--lightGray);
}

.chatWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.profileInfo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.profileImg {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.friendImage {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.profileName {
  font-size: 14px;
  font-weight: 700;
}

.chatStatus {
  width: 24px;
  height: 24px;
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--green);
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
}

.noChatWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.noChatIcon{
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noChatText{
  font-size: 30px;
  font-weight: 700;
}

.noChatDetail{
  font-size: 14px;
  font-weight: 400;
}

.noSearchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.noSearchText{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}
