:root {
  --black: #000;
  --white: #fff;
  --green: #3ec70b;
}

html,
body,
.App {
  display: flex;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  align-items: center;
}

.confetti {
  height: 80%;
}

.leftConfetti {
  order: -1;
  float: left;
}

.resultWrapper {
  flex-grow: 1;
  display: flex;
  width: 20%;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.winOrLose {
  font-size: 140px;
  font-weight: bold;
  margin-left: 25px;
  letter-spacing: 25px;
}

.scores {
  display: flex;
  font-size: 60px;
  font-weight: bold;
  width: 500px;
  justify-content: center;
}

.btnBox {
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  color: var(--green);
  border-color: var(--green);
  border-radius: 7px;
  margin: 0px 4px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.addFriend {
  width: 130px;
  height: 43px;
}

.exit {
  width: 108px;
  height: 43px;
}

.chatting {
  width: 100px;
  height: 43px;
}

.btn * {
  margin: 0px 6px;
}

.btnImg {
  width: 30px;
  height: 30px;
}

.bi-arrow-right {
  order: 1;
}

.btn:hover {
  background-color: var(--green);
}

.btn:hover .btnImg {
  fill: var(--white);
}
