:root {
  --green: #3ec70b;
  --lightGray: #e5e7eb;
  --gray: #6b7280;
  --darkGray: #d1d5db;
  --yellow: #fede53;
  --white: #ffffff;
}

.friendsWrapper {
  height: 100%;
  width: 419px;
  position: fixed;
  right: -100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.showFriends {
  right: 0;
}

.friendsOverlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 998;
  display: none;
}

.titleWrapper {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--lightGray);
}

.title {
  height: 43px;
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 700;
}

.titleList {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.titleSelect {
  background-color: var(--white);
}

.closeButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--darkGray);
}

.searchInput {
  width: 100%;
  border: none;
  margin-left: 8px;
}

input:focus {
  outline: none;
}

.listWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.friendInfo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.friendImage {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.friendName {
  font-size: 14px;
  font-weight: 700;
}

.friendStatus {
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--green);
}

.online {
  background-color: var(--green);
}

.inGame {
  background-color: var(--yellow);
}

.offline {
  background-color: var(--darkGray);
}

.friendButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.noFriendWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.noFriendIcon{
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noFriendText{
  font-size: 30px;
  font-weight: 700;
}

.noFriendDetail{
  font-size: 14px;
  font-weight: 400;
}

.noSearchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.noSearchText{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}

.blockedButton {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--lightGray);
  font-size: 12px;
  font-weight: 500;
  color: var(--gray);
}