:root {
  --green: #3ec70b;
  --lightGray: #e5e7eb;
  --darkGray: #d1d5db;
  --yellow: #fede53;
  --white: #ffffff;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.friendsWrapper {
  height: 100%;
  width: 419px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.titleWrapper {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--lightGray);
}

.title {
  height: 43px;
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 700;
}

.titleList {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.titleSelect {
  background-color: var(--white);
}

.closeButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--darkGray);
}

.searchInput {
  width: 100%;
  border: none;
  margin-left: 8px;
}

input:focus {
  outline: none;
}

.friendWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.friendInfo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.friendImage {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.friendName {
  font-size: 14px;
  font-weight: 700;
}

.friendStatus {
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--green);
}

.online {
  background-color: var(--green);
}

.inGame {
  background-color: var(--yellow);
}

.offline {
  background-color: var(--darkGray);
}

.friendButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
