:root {
  --black: #000;
  --white: #fff;
  --green: #3ec70b;
}

html,
body,
.App {
  background-color: var(--black);
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoWrapper {
  width: 370px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 1%;
}

.infoBox {
  width: 43%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  width: 68%;
  font-size: 20px;
}

.leftName {
  text-align: right;
}

.profileImage {
  width: 44px;
  height: 44px;
  border-radius: 70%;
}

.versus {
  width: 5%;
  font-size: 20px;
}

canvas {
  border: 1px solid var(--white);
}
