:root {
  --black: #000;
  --white: #fff;
  --green: #3ec70b;
  --darkGray: #6b7280;
  --gray: #adadad;
  --lightGray: #e5e7eb;
  /* accent-color: var(--green); */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 999; */
}

.testButton {
  width: 100px;
  height: 100px;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  letter-spacing: -0.8px;
}

.modalWrapper * {
  margin: 5px 0px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalTitle {
  display: flex;
  align-content: center;
  font-weight: bold;
  font-size: 18px;
}

#x {
  display: flex;
  font-size: 25px;
  align-items: center;
  margin-left: 25px;
  color: var(--gray);
}

#x:hover {
  color: var(--darkGray);
  cursor: pointer;
}

.modalBody {
  display: flex;
  color: var(--gray);
  margin-bottom: 15px;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

#QR {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.radioBox {
  display: flex;
  width: 100%;
}

[type="radio"] {
  appearance: none;
  margin-top: 6px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--darkGray);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

[type="radio"]:checked {
  background-color: var(--white);
  border: 3.5px solid var(--green);
}

.radioBox > label {
  margin: 0px 10px;
  color: var(--black);
}

.explanation {
  font-size: 14.5px;
  color: var(--gray);
}

.modalFooter {
  display: flex;
  justify-content: end;
}

.modalFooter * {
  margin: 0px 5px;
  border-radius: 10px;
}

.secondaryButton {
  border-color: var(--gray);
}

.primaryButton {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
}

.singleButton {
  background-color: var(--green);
  width: 100%;
  color: var(--white);
}
