.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.area {
    height: 522px;
    width: 474px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.title {
    width: 95%;
    display: flex;
    font-size: 20px;
    justify-content: left;
    margin-bottom: 25px;
}

.uproadImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.previewImage {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.textArea {
    witdh: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
}

.uproadImageText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.emailText {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.emailPlace {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 14px;
}

.emailblock {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #D1D5DB;
    border-radius: 5px;
    text-align: center;
}

.emailblock i {
    margin-left: 10px;
    margin-right: 10px;
}

.nickname {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nicknameInputArea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nicknameText {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.nicknamePlace {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 14px;
}

.nicknameBlock {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.nicknameCheck {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #6B7280;
}

.submitButton {
    height: 41px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3EC70B;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.twoFactorAuth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.twoFactorAuthText{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.twoFactorAuthPlace {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 14px;
}

.twoFactorAuthBlock {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.twoFactorAuthNotice {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.twoFactorAuthSelectBlock {
    width: 100%;
    display: flex;
    justify-content: end;
}

.twoFactorAuthDeactive {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
}

.twoFactorAuthActive {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
}

.twoFactorAuthUnSelect {
    color: #6B7280;
    background-color: #E5E7EB;
}

.twoFactorAuthSelect {
    color: #FFFFFF;
    background-color: #3EC70B;
}