:root {
  --green: #3ec70b;
  --lightGreen: #e2f7db;
  --lightGray: #e5e7eb;
  --gray: #6b7280;
  --darkGray: #d1d5db;
  --yellow: #fede53;
  --white: #ffffff;
  }

.sidebarArea {
  height: 100%;
  width: 419px;
  position: fixed;
  right: -100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  transition: all 0.5s;
}

.showSidebar {
  right: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 998;
  display: none;
}

.showOverlay {
  display: block;
}

.chatTitleWrapper {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid var(--lightGray);
}

.chatTitle {
  font-size: 18px;
  font-weight: 700;
}

.closeButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hide {
  display: none;
}

.searchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--darkGray);
}

.searchInput {
  width: 100%;
  border: none;
  margin-left: 8px;
}

input:focus {
  outline: none;
}

.chatListWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--lightGray);
}

.chatWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.chatWrapper:hover {
  background-color: var(--lightGreen);
}

.profileInfo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.profileImg {
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.profileName {
  font-size: 14px;
  font-weight: 700;
}

.chatStatus {
  height: 24px;
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--green);
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
}

.noChatWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.noChatIcon{
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noChatText{
  font-size: 30px;
  font-weight: 700;
}

.noChatDetail{
  font-size: 14px;
  font-weight: 400;
}

.friendsTitleWrapper {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--lightGray);
}

.friendsTitle {
  height: 43px;
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 700;
  margin-top: 4px;
}

.friendsTitleList {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.friendsTitleSelect {
  background-color: var(--white);
}

.friendsWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--lightGray);
}

.friendWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.friendStatus {
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--green);
}

.online {
  background-color: var(--green);
}

.inGame {
  background-color: var(--yellow);
}

.offline {
  background-color: var(--darkGray);
}

.friendButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.noFriendWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.noFriendIcon{
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noFriendText{
  font-size: 30px;
  font-weight: 700;
}

.noFriendDetail{
  font-size: 14px;
  font-weight: 400;
}

.noSearchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.noSearchText{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}

.blockedButton {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--lightGray);
  font-size: 12px;
  font-weight: 500;
  color: var(--gray);
}

.chatInputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding : 12px
}

.chatInput {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: 1px solid var(--darkGray);
  padding-left: 12px;
  padding-right: 12px;
}

.chatInput:focus {
  outline: none;
}

.chatSubmit {
  width: 24px;
  height: 24px;
  display: flex;
  font-size: 24px;
  color: var(--green);
}

.chatContentsWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  padding : 10px;
}

.chatContentWrapper {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chatContentImg {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--lightGray);
}

.chatContentRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.chatContentInfo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.chatContentName {
  font-size: 14px;
  font-weight: 700;
}

.chatContentTime {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray);
}

.chatContent {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}